body {
    background-color: gray;
}

.sidebar {
    background-color: black;
    height: 100rem;
}

.main-body {
    background-color: rgb(30, 139, 112);
    height: 100rem;
    overflow-y: scroll;
}

.inputs {
    background-color: aquamarine;
    height: 100rem;
    text-align: center;
}

.inputs input:nth-child(1) {
    margin-top: 6rem;
    width: 80%;
}

.inputs input:nth-child(2),
.inputs input:nth-child(3) {
    width: 80%;
    margin-top: 3rem;
}

.button-labels {
    text-align: center;
    margin-top: 6rem;
}

.button-labels p button {
    color: black;
    background-color: grey;
    text-transform: uppercase;
    width: 6rem;
    border: 2px solid white;
}

.employeeInfo {
    width: 20rem;
    border: 3px solid black;
    height: 8rem;
    margin: 2rem auto 2rem;
    color: white;
    text-align: center;
}