/* body styling */

body {
    background-color: gray;
}


/* buttons section styling */

.sidebar {
    background-color: black;
    height: 100rem;
    overflow-y: hidden;
}

#chkName {
    color: white;
    font-size: 2rem;
}


/* view section styling */

.main-body {
    background-color: white;
    height: 100rem;
    overflow-y: scroll;
}


/* title */

.heading h1 {
    padding: 1rem;
}


/* styling for 'verify' answer */

h1 {
    margin: 0 auto;
    text-align: center;
}

h5 {
    text-align: center;
    padding: 1.5rem;
}


/* the inputs styling */

.inputs {
    background-color: white;
    height: 100rem;
    text-align: center;
    overflow-y: hidden;
}

.inputs input {
    width: 70%;
    margin: 1rem auto 0;
    border: 2px solid black;
}


/* buttons */

.button-labels {
    text-align: center;
    margin-top: 6rem;
}

.button-labels p button {
    color: black;
    background-color: grey;
    text-transform: uppercase;
    width: 6rem;
    border: 2px solid white;
}


/* employee cards styling */

.employeeInfo {
    width: 20rem;
    border: 3px solid black;
    height: 8rem;
    margin: 2rem auto 2rem;
    color: black;
    text-align: center;
}