.sidebar {
    background-color: black;
    height: 100rem;
}

.main-body {
    background-color: rgb(30, 139, 112);
    height: 100rem;
}

.inputs {
    background-color: aquamarine;
    height: 100rem;
    text-align: center;
}

.button-labels {
    text-align: center;
    margin-top: 6rem;
}

.button-labels p button {
    color: black;
    background-color: grey;
    text-transform: uppercase;
    width: 6rem;
}

.employeeInfo {
    width: 20rem;
    border: 3px solid black;
    height: 8rem;
    margin: 2rem auto 2rem;
    color: white;
    text-align: center;
}